nav {
  z-index: 9999;
  opacity: .9;
  font-size: .95rem;
  
  .nav-link {
    font-size: .95rem;
  }
  
  .login-btn {
    font-size: .9rem;
  }
}

.logo {
  font-size: .95rem;
  line-height: 1.1rem;
  letter-spacing: 1px;
}

.dropdown-menu {
  background-color: #212529;
  color: rgba(255,255,255,.55);
  
  .dropdown-item {
    color: rgba(255,255,255,.55);
    padding: 0;

    &:hover {
      color: rgb(255, 255, 255);
      background-color: #212529;
    }
  }
}

