.app-container {
  font-family: "Montserrat";
  font-weight: 300;
  min-height: 100vh;
  padding-top: 5.5rem;
  padding-left: 0;
  padding-right: 0;
  background-color: #f8f9fa;

  &.dark{
    background-color: #000;
  }
}

.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .65;
}

.footer-container {
  height: 3.5rem;
  color: #ffffff8c;
  font-size: .8rem;
  background-color: #212529;
  opacity: .9;
}

.contact {
  font-size: .95rem;
}

// .facebooke-icon {
//   color: #385898;
// }

.facebook-link {
  text-decoration: none;
  color: #212529;
  transition: opacity .2s ease-in-out;
  
  &:hover {
    color: #212529;
    opacity: .7;
  }
}

.about {

  p {
    font-size: .9rem;
    line-height: 2;
    letter-spacing: 1px;
  }
}

.MuiStepIcon-root.MuiStepIcon-active {
  color: #f5b880 !important;
}

.MuiStepIcon-root.MuiStepIcon-completed{
  color: #75a68d !important;
}

.landing-content {
  z-index: 8888;

  .landing-title {
    color: #ececec;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1;
  }
  
  .landing-subtitle {
    color: #ececec;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1;
  }
  
  a {
    color: #ececec;
    text-decoration: none;
    
    // &:hover {
    //   color: #ececec;
    // }
  }
}

