// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// .calendars {
//   font-size: .75rem;
  
//   .btn {
//     font-size: .75rem;
//   }
// }

.custom-invalid-feedback {
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}